//variables color
$main__color: rgba(96, 67, 167, 1);
$main__color--light: rgba(237, 229, 255, 1);
$main__color--dark: rgba(69, 73, 164, 1);

$gray__color: rgba(124, 124, 124, 1);
$gray__color-light:rgba(217, 217, 217, 1);
$gray__color-dark:rgba(92, 92, 92, 1);
$white__color: rgba(255, 255, 255, 1);

$specials__color--yelow: rgba(244, 246, 113, 1);
$specials__color--lightBlue: rgba(113, 222, 246, 1);
$specials__color--lightGreen:rgba(200, 245, 188, 1);
$specials__color--green: rgba(71, 182, 112, 0.45);


//textos
$letter__spacing-005: 0.05rem;
$letter__spacing--02: 0.2rem;
$letter__spacing--3: 3px;


//width
$w__100: 100%;


//margin
$margin__24: 24px;
$margin__0: 0px;
$margin__4: 4px;


//margin top
$margin__T--12: 12px;
$margin__T--24: 24px;
$margin__T--48: 48px;
$margin__T--64: 64px;
$margin__T--126: 126px;

//margin bottom
$margin__B--8: 8px;
$margin__B--24: 24px;
$margin__B--30: 30px;

//margin right
$margin__R--8: 8px;
$margin__R--24: 24px;

//margin left
$margin__L--8: 8px;


//border
$border__radius--2: 2px;
$border__radius--4: 4px;
$border__radius--12: 12px;


//Padding
$padding__0: 0px;
$padding__8: 8px;
$padding__20: 20px;

//Padding Right
$padding__R--8: 8px;
$padding__R--12: 12px;
$padding__R--16: 16px;

