@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
//font family
$tipografia: 'Inter', sans-serif;

//font size
$texto__Xs: 1.4rem;
$texto__S: 1.6rem;
$texto__M: 2rem;
$texto__L: 2.2rem;
$texto__Xl: 2.6rem;
$texto__Xxl: 3rem;
$texto__Xxxl: 3.4rem;

//font weight
$texto__light: 300;
$texto__regular: 400;
$texto__medium: 500;
$texto__semibold: 600;
$texto__bold: 700;

//line height
$interlinea__2--8: 2.8rem;
$interlinea__4: 4rem;

